---
import ProjectCard from './ProjectCard.astro'
import { getCollection } from 'astro:content'
const projects = await getCollection('projects')
---

<section class="flex flex-col items-center gap-6">
    <div>
        <h2 class="font-bold">My Projects</h2>
    </div>
    <div class="flex flex-col gap-6 md:flex-row items-center md:px-3">
        {
            projects.map((project: { data: any }) => {
                return (
                    <ProjectCard
                        title={project.data.title}
                        description={project.data.descripcion}
                        stack={project.data.stack}
                        img={project.data.img}
                        url={project.data.url}
                    />
                )
            })
        }
    </div>
</section>
