---
import ProjectCard from './ProjectCard.astro'
import { getCollection } from 'astro:content'
const projects = await getCollection('projects')
---

<section class="flex flex-col items-center gap-6">
    <div>
        <h2 class="font-bold">My Projects</h2>
    </div>
    {
        projects.map((project) => {
            return (
                <ProjectCard
                    title={project.data.title}
                    description={project.data.descripcion}
                    stack={project.data.stack}
                    img={project.data.img}
                    url={project.data.url}
                />
            )
        })
    }
</section>
