---
// ProjectCard.astro
interface Props {
    title: string
    description: string
    img: string
    stack?: string[]
    url?: string
}

const { title, description, stack = [], img, url } = Astro.props

const getStackImage = (tech: string) => {
    const images: { [key: string]: string } = {
        js: '/public/assets/js.svg',
        tailwind: '/public/assets/tailwindcss.svg',
        astro: '/public/assets/astro.svg',
        react: '/public/assets/react.svg',
        next: '/public/assets/next.svg',
        mui: '/public/assets/mui.svg',
    }

    return images[tech.toLowerCase()] || null
}
---

<article
    class="border-yellow border p-3 shadow-2xl text-white rounded-md hover:scale-105 hover:shadow-4xl transition-all w-11/12"
>
    <p class="text-center font-semibold pb-3">{title}</p>
    <div class="flex justify-center">
        <a href={url}>
            <img
                src=`/public/assets/projects/${img}.webp`
                alt=`${img} Logo`
                class="w-[200px] pb-3"
            />
        </a>
    </div>
    <p class="font-light text-[12px] pb-4">
        {description}
    </p>
    <div>
        <p class="font-bold text-[12px] pb-1">Created with</p>
        <div class="flex flex-row gap-4">
            {
                stack.map((tech) => (
                    <img
                        src={getStackImage(tech)}
                        alt={`${tech} Logo`}
                        class="w-[20px] h-[20px] "
                    />
                ))
            }
        </div>
    </div>
</article>
